/*{
    margin: 0px;
    padding: 0px;
}
.file-upload-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  .file-upload-label input {
    display: none;
  }
  .file-upload-label svg {
    height: 50px;
    fill: rgb(82, 82, 82);
    margin-bottom: 20px;
  }
  .file-upload-label {
    cursor: pointer;
    background-color: #ddd;
    padding: 30px 70px;
    border-radius: 40px;
    border: 2px dashed rgb(82, 82, 82);
    box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
  }
  .file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .browse-button {
    background-color: rgb(82, 82, 82);
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
  }
  .browse-button:hover {
    background-color: rgb(14, 14, 14);
  }
.hh{
    background-color: rgba(16, 4, 64, 1);
    padding: 100px;
    color :rgba(255, 2, 123, 1);;
}  
.body {
  --radius: 8px;
  --border: 4px;
  --height: 48px;
  --speed: 0.25s;
  display: grid;
  place-items: center;
  align-content: center;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
}

.tabs {
  height: var(--height);
  display: grid;
  grid-auto-flow: column;
  background: hsl(0, 3%, 15%);
  border-radius: var(--radius);
  grid-auto-columns: 1fr;
  position: relative;
  border: var(--border) solid hsl(0 3% 15%);
}

.tabs {
  --ease: linear(
    0,
    0.1641 3.52%,
    0.311 7.18%,
    0.4413 10.99%,
    0.5553 14.96%,
    0.6539 19.12%,
    0.738 23.5%,
    0.8086 28.15%,
    0.8662 33.12%,
    0.9078 37.92%,
    0.9405 43.12%,
    0.965 48.84%,
    0.9821 55.28%,
    0.992 61.97%,
    0.9976 70.09%,
    1
  );
}

.tabs > .input,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.tabs:has(:checked:nth-of-type(1)) {
  --active: 0;
}
.tabs:has(:checked:nth-of-type(2)) {
  --active: 1;
}
.tabs:has(:checked:nth-of-type(3)) {
  --active: 2;
}
.tabs:has(:checked:nth-of-type(4)) {
  --active: 3;
}

.tabs :checked + .label {
  --highlight: 1;
}

.tabs:has(.input:nth-of-type(2)) {
  --count: 2;
}
.tabs:has(.input:nth-of-type(3)) {
  --count: 3;
}
.tabs:has(.input:nth-of-type(4)) {
  --count: 4;
}

.tabs .label {
  padding: 0 clamp(10px, 10px + 10px, 20px);
  cursor: pointer;
  text-align: center;
  height: 100%;
  display: grid;
  border-radius: calc(var(--radius) - var(--border));
  place-items: center;
  color: hsl(0 0% 100% / calc(0.5 + var(--highlight, 0)));
  transition: background, color;
  transition-duration: 0.25s;
  transition-timing-function: var(--ease, ease);
}

.input:not(:checked) + .label:hover {
  --highlight: 0.35;
  background: hsl(0 0% 20%);
}

.tabs::after {
  pointer-events: none;
  content: "";
  width: calc(100% / var(--count));
  height: 100%;
  background: hsl(0 0% 100%);
  position: absolute;
  border-radius: calc(var(--radius) - var(--border));
  mix-blend-mode: difference;
  translate: calc(var(--active, 0) * 100%) 0;
  transition: translate, outline-color;
  transition-duration: var(--speed);
  transition-timing-function: var(--ease, ease);
  outline: 2px solid transparent;
}

.tabs:has(:focus-visible)::after {
  outline-color: red;
}

/* .file-upload-form::after {

  display: none;
}  *//*
form{
  display: none;
}
form.active{
display:flex;
 }
 
 .hidden{
  display: none;
}
.file-upload-form {
  display: none; /* Initially hide all forms *//*
}

.file-upload-form.active {
  display: block;} /* Display the active form */
  * {
    margin: 0px;
    padding: 0px;
}

.file-upload-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.file-upload-label input {
    display: none;
}

.file-upload-label svg {
    height: 50px;
    fill: rgb(82, 82, 82);
    margin-bottom: 20px;
}

.file-upload-label {
    cursor: pointer;
    background-color: #ddd;
    padding: 30px 70px;
    border-radius: 40px;
    border: 2px dashed rgb(82, 82, 82);
    box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
}

.file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.browse-button {
    background-color: rgb(82, 82, 82);
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
}

.browse-button:hover {
    background-color: rgb(14, 14, 14);
}

.hh {
    background-color: rgba(16, 4, 64, 1);
    padding: 100px;
    color: rgba(255, 2, 123, 1);
}

.body {
    --radius: 8px;
    --border: 4px;
    --height: 48px;
    --speed: 0.25s;
    display: grid;
    place-items: center;
    align-content: center;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
}

.tabs {
    height: var(--height);
    display: grid;
    grid-auto-flow: column;
    background: hsl(0, 3%, 15%);
    border-radius: var(--radius);
    grid-auto-columns: 1fr;
    position: relative;
    border: var(--border) solid hsl(0 3% 15%);
}

.tabs {
    --ease: linear(0, 0.1641 3.52%, 0.311 7.18%, 0.4413 10.99%, 0.5553 14.96%, 0.6539 19.12%, 0.738 23.5%, 0.8086 28.15%, 0.8662 33.12%, 0.9078 37.92%, 0.9405 43.12%, 0.965 48.84%, 0.9821 55.28%, 0.992 61.97%, 0.9976 70.09%, 1);
}

.tabs > .input,
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.tabs:has(:checked:nth-of-type(1)) {
    --active: 0;
}

.tabs:has(:checked:nth-of-type(2)) {
    --active: 1;
}

.tabs:has(:checked:nth-of-type(3)) {
    --active: 2;
}

.tabs:has(:checked:nth-of-type(4)) {
    --active: 3;
}

.tabs :checked + .label {
    --highlight: 1;
}

.tabs:has(.input:nth-of-type(2)) {
    --count: 2;
}

.tabs:has(.input:nth-of-type(3)) {
    --count: 3;
}

.tabs:has(.input:nth-of-type(4)) {
    --count: 4;
}

.tabs .label {
    padding: 0 clamp(10px, 10px + 10px, 20px);
    cursor: pointer;
    text-align: center;
    height: 100%;
    display: grid;
    border-radius: calc(var(--radius) - var(--border));
    place-items: center;
    color: hsl(0 0% 100% / calc(0.5 + var(--highlight, 0)));
    transition: background, color;
    transition-duration: 0.25s;
    transition-timing-function: var(--ease, ease);
}

.input:not(:checked) + .label:hover {
    --highlight: 0.35;
    background: hsl(0 0% 20%);
}

.tabs::after {
    pointer-events: none;
    content: "";
    width: calc(100% / var(--count));
    height: 100%;
    background: hsl(0 0% 100%);
    position: absolute;
    border-radius: calc(var(--radius) - var(--border));
    mix-blend-mode: difference;
    translate: calc(var(--active, 0) * 100%) 0;
    transition: translate, outline-color;
    transition-duration: var(--speed);
    transition-timing-function: var(--ease, ease);
    outline: 2px solid transparent;
}

.tabs:has(:focus-visible)::after {
    outline-color: red;
}

/* Initially hide all forms */
.file-upload-form {
    display: none;
}

/* Display the active form */
.file-upload-form.active {
    display: flex;
}

.hidden {
    display: none;
}

.menu {
  display: flex;
  background-color:  rgba(16, 4, 64, 1);
  color: white;
  padding: 10px;
 
}

.menu button {
  background-color: transparent;
  border: none;
  color: rgba(255, 2, 123, 1);;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 15px;
}

.menu button:hover {
  background-color:  rgb(59, 34, 157);
}
