{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Parent Dashboard</title>
<link type="text/css" rel="stylesheet" href="{% static 'css/parent_page.css' %}">
<style>
    .container--1 {
        background-image: url("{% static 'images/image1.jpg' %}"); /* Replace "image1.jpg" with the path to your first image */
    }
    
    .container--2 {
        background-image: url("{% static 'images/image1.jpg' %}"); /* Replace "image2.jpg" with the path to your second image */
    }
    
</style>
</head>
<body>
<!-- <div class="container">
    <div class="card">
        <h2>Statistics</h2>
        <p>View attendance statistics</p>
        <a href="/statistics">View Statistics</a>
    </div>
    <div class="card">
        <h2>Report</h2>
        <p>Generate attendance report</p>
        <a href="/report">Generate Report</a>
    </div>
</div> -->
<body>
    <div class="wrap2">
      <h1 style="color:  rgba(255, 2, 123, 1);">Attendance Tracking System</h1>
        <!-- <ul class="menu">
            <li><a href="/homepage">Home</a></li>
             <li><a href="#">Entry</a></li> 
            <li><a href="#">Help support</a></li>
            <li><a href="#">About</a></li> 
        </ul> -->
    </div>
<!-- <div class="container">
    <div class="card">
        <h2>Attendance Entry</h2>
        <p>Click below to enter attendance</p>
        <a href="/attendance_entry">Enter Attendance</a>
    </div>
    <div class="card">
        <h2>Statistics</h2>
        <p>View attendance statistics</p>
        <a href="/statistics">View Statistics</a>
    </div>
    <div class="card">
        <h2>Report</h2>
        <p>Generate attendance report</p>
        <a href="/report">Generate Report</a>
    </div> -->
    <div class="paral">
        <section class="main">

          <!-- <div class="wrap wrap--1" onclick="redirectToPage('page1.html')">
            <div class="container container--1">
              <p>Attendance Entry</p>
            </div>
          </div> -->
          
          <div class="wrap wrap--1" onclick="redirect('dashboard');">
            <div class="container container--1">
              <p>Statistics</p>
            </div>
          </div>
          
          <div class="wrap wrap--2" onclick="redirect('generate_report');">
            <div class="container container--2">
              <p>Report</p>
            </div>
          </div>
          <script>
            function redirectToPage(page) {
              window.location.href = page;
            }
            </script>
          </section>
          <!-- <a href="https://abubakersaeed.netlify.app/designs/d10-parallax-tilt-effect-cards" class="abs-site-link" rel="nofollow noreferrer" target="_blank">abs/designs/d10-parallax-tilt-effect-cards</a> -->
    </div>
    <div class="footer">    
        <div class="feau-wrapper">
          <h5 style="margin-left: 100px;">FEATURES:</h5>
          <p class="feau">
            
            <br>
            <br>
            Fast and Easy Attendance Entry.<br>
            <br>
            Students, Class and Grade Dashboards<br>
            <br>
            
            Customizable Attendance Reporting<br>
            <br>
            Simple Data Export
            <br></p>
            </div>
            <div class="ben">
              <p class="fit">
               <h5> BENEFITS: </h5>
    <br><br>
    Track Attendance From Anywhere <br><br>
    
    Perfect For Any Class Or Group <br><br>
    Teacher Parent Messaging System<br>
            <br>
    
    Great Import And Export Tools <br>
              </p>
            </div>
        </div>
    <script>
        class parallaxTiltEffect {

constructor({element, tiltEffect}) {

this.element = element;
this.container = this.element.querySelector(".container");
this.size = [300, 360];
[this.w, this.h] = this.size;

this.tiltEffect = tiltEffect;

this.mouseOnComponent = false;

this.handleMouseMove = this.handleMouseMove.bind(this);
this.handleMouseEnter = this.handleMouseEnter.bind(this);
this.handleMouseLeave = this.handleMouseLeave.bind(this);
this.defaultStates = this.defaultStates.bind(this);
this.setProperty = this.setProperty.bind(this);
this.init = this.init.bind(this);

this.init();
}

handleMouseMove(event) {
const {offsetX, offsetY} = event;

let X;
let Y;

if (this.tiltEffect === "reverse") {
X = ((offsetX - (this.w/2)) / 3) / 3;
Y = (-(offsetY - (this.h/2)) / 3) / 3;
}

else if (this.tiltEffect === "normal") {
X = (-(offsetX - (this.w/2)) / 3) / 3;
Y = ((offsetY - (this.h/2)) / 3) / 3;
}

this.setProperty('--rY', X.toFixed(2));
this.setProperty('--rX', Y.toFixed(2));

this.setProperty('--bY', (80 - (X/4).toFixed(2)) + '%');
this.setProperty('--bX', (50 - (Y/4).toFixed(2)) + '%');
}

handleMouseEnter() {
this.mouseOnComponent = true;
this.container.classList.add("container--active");
}

handleMouseLeave() {
this.mouseOnComponent = false;
this.defaultStates();
}

defaultStates() {
this.container.classList.remove("container--active");
this.setProperty('--rY', 0);
this.setProperty('--rX', 0);
this.setProperty('--bY', '80%');
this.setProperty('--bX', '50%');
}

setProperty(p, v) {
return this.container.style.setProperty(p, v);
}

init() {
this.element.addEventListener('mousemove', this.handleMouseMove);
this.element.addEventListener('mouseenter', this.handleMouseEnter);
this.element.addEventListener('mouseleave', this.handleMouseLeave);
}

}

const $ = e => document.querySelector(e);

const wrap1 = new parallaxTiltEffect({
element: $('.wrap--1'),
tiltEffect: 'reverse'
});

const wrap2 = new parallaxTiltEffect({
element: $('.wrap--2'),
tiltEffect: 'normal'
});

const wrap3 = new parallaxTiltEffect({
element: $('.wrap--3'),
tiltEffect: 'reverse'
});
      </script>
      <script>
        function redirect(page) {
            window.location.href = window.location.origin + '/' + page;
        }
    </script>

</div>
</body>
</html>
